@use '../../../src/style/placeholders/Flex.scss';
@use '../../../src/style/variables/Colors.scss' as Colors;

.product {

  &-detail {
    margin: 1.5rem;
  }
  
  &-specific {
    @extend %gridTwo;
    gap: 2rem;
    margin-block: 2rem;
  }

  &__left {
    @extend %flex-column;
    align-items: stretch;
  }


  &__leftImage {
    @extend %flex;
  }

  
  &-image {
    width: 70%;
    height: 50%;
    margin-inline: auto;
    align-self: center;
  }

  &__dots {
    @extend %flex;
    gap: 0.5rem;
    justify-content: center;
    text-align: center;
    color: Colors.$grey;
  }

  &-description {
    font-size: 0.8rem;
    margin-block: 2rem;
  }
}

.arrow-icon {
  cursor: pointer;
  font-size: 2.3rem;
  color: Colors.$light-2-grey;
}

@media (max-width: 768px) {
  .product-specific {
    display: block;
  }

  .product__leftImage {
    display: block;

  }

  .product__left {
    display: block;
    margin-block: 1rem;
  }

  .product-image {
    width: 40%;
  }
  .arrow-icon {
    display: none;
  }

  .product__btn {
    padding: 0.5rem;
  }
}