@use '../../style/placeholders/Flex.scss';
@use '../../style/variables/Colors.scss' as Colors;

.compare {

  &-three {
    @extend %gridTwo;
    align-items: center;
    background-color: Colors.$light-2-grey;
  }

  &__left {
    @extend %flex;
    gap: 0.5rem;
    width: 18rem;
    justify-content: start;
    padding: 0.7rem;
    background-color: Colors.$white;
  }

  &__right {
    @extend %flex-column;
    align-items: baseline;
    padding-inline-start: 0.2rem;
  }

  &--price {
    font-weight: 700;
    align-self: end;
  }

  &-three__compare {
    justify-self: end;
    background-color: orange;
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .compare-three {
    display: block;
    margin-block-end: 5rem;
  }
  .compare__left {
    width: 100%;
  }
}
