.product-card.popular {
    max-width: 13rem;
    width: 100%;
    margin-inline: none;
    margin: 1rem auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(49, 49, 49, 0.4);
    background-color: rgb(255, 255, 255);
    padding: 2rem 1rem;
    border-radius: 2%; 
    display: grid;
    grid-template-rows: subgrid;
    grid-template-columns: 1fr;
    grid-row: span 5;
    figure {
        align-self: center;
    }
    p {
        &:not(:last-of-type) {
            font-size: 0.875rem;
        }
        &:last-of-type {
            font-size: 1.5rem;
            font-weight: 600;
            margin-top: 2rem;
        }
        + p {
            margin-top: 0;
        }
    }
    
    a.product-card__btn {
        width: 70%;
        justify-self: center;
        align-self: end;
    }
}