@use '../../style/placeholders/Flex.scss' as Flex;
.compare {
  width: 8rem;
  float: right;
  // margin-inline: auto;
  @extend %flex;
  gap: 0.6rem;
  justify-content: end;
  padding: 1rem;
  cursor: pointer;
  // text-align: end;
  // align-self: self-end;
}

.product--compare {
  text-align: end;
}

.comStyle {
  align-self: self-end;
  padding-inline-end: 0;
}

