$white: #FFFFFF;
$light-1-grey: #F4F4F2;
$light-2-grey: #E8E8E8;
$grey: #BBBFCA;
$dark-grey: #495464;
$black: #000000;
$orange: #FF6900;
$silver: linear-gradient(
    rgba(145, 146, 146, 1) 0%,
    rgba(223, 224, 225, 1) 100%
);
$gold: linear-gradient(
    rgba(175, 135, 38, 1) 0%,
    rgba(248, 240, 139, 1) 100%
);