$white: #FFFFFF;
$light-1-grey: #F4F4F2;
$light-2-grey: #E8E8E8;
$grey: #BBBFCA;
$dark-grey: #495464;
$black: #000000;
$orange: #FF6900;
$silver1: #919292;
$silver2: #DFE0E1;
$gold1: #AF8726;
$gold2: #F8F08B;