@use "../../style/placeholders/_Flex.scss";
@use "../../style/variables/Colors" as colors;
// @use "../../style/variables/Colors" as colors;

.header {
  @extend %flex;
  background-color: colors.$black;
  padding: 0.5rem;
  flex-wrap: wrap;

  &__logoNav {
    @extend %flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__searchUserCart {
    @extend %flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__search {
    @extend %flex;
    align-items: center;
    background-color: colors.$white;
    padding: 0.1rem 0.2rem;
    border-radius: 0.2rem;

    input {
      width: 7rem;
      font-size: 0.6rem;
      padding: 0.2rem 0.5rem;
      border: none;
      border-radius: 4px;
    }
  }
}

.hamburger {
  display: none;
}

.header--mobile {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5%;
  right: 0;
  background-color: colors.$black;
  padding: 2rem;
  height: 14rem;
}

.mobile--navigation {
  display: flex;
  flex-direction: column;
}

.header--mobile nav ul {
  display: block;
}

@media (max-width: 768px) {
  .header__logoNav, input[name="search"] {
    display: none;
  }

  .header__search {
    background-color: colors.$black;
  }

  .header__searchUserCart {
    width: 90%;
    margin-inline: auto;
  }

  .clr {
    color: colors.$white;
  }
  
  .hamburger {
    display: inline-flex;
  }
}

.header__cart {
    position: relative;
    cursor: pointer;
}
