@use "../style/placeholders/Flex";
@use "../style/variables/Colors" as colors;

.products {
    padding: 0.6rem 1rem;

    &--header {
        margin-block: 1rem;
        color: colors.$dark-grey;
    }
    
    &-page{
        @extend %gridThree;
    }

    &__main {
        @extend %flex;
        align-items: start;
        gap: 1.3rem;
    }
}
