%flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%gridTwo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);;
  gap: 16px;
}