@use "./components/buttons/ButtonLink";
@use "./components/error/ErrorBoundary";
@use "./components/footer/Footer";
@use "./components/header/Header";
@use "./components/loading/Loading";
@use "./components/navigation/Navigation";
@use "./style/variables/Colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

