@use "./components/buttons/ButtonLink";
@use "./components/error/ErrorBoundary";
@use "./components/footer/Footer";
@use "./components/header/Header";
@use "./components/loading/Loading";
@use "./components/navigation/Navigation";
@use "./style/variables/Colors";
@use "./style/mixins/Font-mixin";
@use "./components/hero/hero.scss";
@use "./components/nyhedsbrev/nyhed.scss";
@use "./components/productSpecific/productSpecific.scss";
@use "./components/productCard/ProductCard.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

html, body {
  font-family: Font-mixin.$base-font;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

