@use "./components/buttons/ButtonLink";
@use "./components/error/ErrorBoundary";
@use "./components/footer/Footer";
@use "./components/header/Header";
@use "./components/loading/Loading";
@use "./components/navigation/Navigation";
@use "./style/variables/Colors";
@use "./style/mixins/Font-mixin";
@use "./components/hero/hero.scss";
@use "./components/nyhedsbrev/nyhed.scss";
@use "./components/productSpecific/productSpecific.scss";
@use "./components/productCard/ProductCard.scss";

@use "./style/products.scss";
@use "./components/compare/compare.scss";
@use "./components/compare3products/comThreepro.scss";
@use "./components/productText/productText.scss";
@use "./components/productTable/productTable.scss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

html, body {
  font-family: Font-mixin.$base-font;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body{
    background-color: #F4F4F2;
}

.dolars--clr {
  font-size: 0.7rem;
  font-weight: 600;
}

.margin-top{
  margin-top: 5rem;
}